.base {
  font-family: Montserrat, sans-serif;
  letter-spacing: -1px;
}

.base:not(.light) {
  font-weight: 800;
}

.light {
  font-weight: 600;
}

.base,
.base a {
  color: inherit;
}

.base a {
  text-decoration: none;
}

.base a:hover {
  text-decoration: underline;
  color: var(--color-accent-dark);
}

.xs {
  font-size: var(--font-size-1);
}

.sm {
  font-size: var(--font-size-2);
}

.md {
  font-size: var(--font-size-3);
}

.lg {
  font-size: var(--font-size-4);
}

.xl {
  font-size: var(--font-size-5);
}

.md,
.lg,
.xl {
  line-height: 1.33;
}

.inherit {
  font-size: 1rem;
}

@media (min-width: 640px) {
  .lg {
    font-size: var(--font-size-5);
  }

  .xl {
    font-size: var(--font-size-7);
  }
}
