.base {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  letter-spacing: -1px;
}

.xs {
  font-size: var(--font-size-1);
}

.sm {
  font-size: var(--font-size-2);
}

.md {
  font-size: var(--font-size-3);
}

.lg {
  font-size: var(--font-size-4);
}

.xl {
  font-size: var(--font-size-5);
}

.lg,
.xl {
  line-height: 1.33;
}
