.header {
  background: var(--color-core-darkest);
  color: var(--color-core-lightest);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--display-font);
}

.branding {
  margin: 0;
}

.logo {
  width: auto;
  height: 32px;
}

.logoLink {
  display: block;
  line-height: 0;
}

.footer {
  color: var(--color-core-lighter);
  background: var(--color-core-darkest);
}

@media screen and (min-width: 600px) {
  .logo {
    height: 48px;
  }

  .logoLink {
    margin: 0;
    padding: 0;
  }
}
