.header {
  background: var(--color-core-darkest);
  color: var(--color-core-lightest);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--display-font);
}

.branding {
  margin: 0;
}

.logo {
  width: auto;
  height: 32px;
}

.logoLink {
  display: block;
  line-height: 0;
  padding: 8px 0; /* compensate for the smaller logo height */
}

.footer {
  color: var(--color-core-lighter);
  background: var(--color-core-darkest);
}

.footer p a {
  color: var(--color-accent-lighter);
}

.footer p a:hover,
.footer p a:focus,
.footerNav a:hover,
.footerNav a:focus,
.headerNav a:hover,
.headerNav a:focus {
  color: var(--color-accent-lightest);
}

.small {
  font-size: var(--font-size-0);
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
}

.footerSection {
  width: 100%;
  max-width: 760px;
  margin-bottom: var(--space-sm);
}

.footerMenu {
  margin-top: var(--space-xs);
}

.footerNav {
  margin-left: calc(var(--space-xs) * -1 / 2);
}

@media screen and (max-width: 599px) {
  /* custom to account for tap-target heights and make the logo evenly padded */
  .headerContent {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 600px) {
  .logo {
    height: 48px;
  }

  .logoLink {
    margin: 0;
    padding: 0;
  }

  .footerMenu {
    display: flex;
    justify-content: space-between;
  }

  .footerMenu {
    margin-top: var(--space-sm);
  }

  .footerSection {
    margin-bottom: var(--space-md);
  }
}

@media screen and (min-width: 1100px) {
  .footerMenu {
    margin-top: var(--space-md);
  }

  .footerSection {
    margin-bottom: var(--space-lg);
  }
}
