.header {
  background: var(--color-accent-lighter);
  color: var(--color-core-darkest);
}

.logo {
  height: 64px;
  width: 64px;
  margin: 0;
}

.footer {
  color: var(--color-core-light);
  background: var(--color-core-darkest);
}
