:root {
  --color-core-lightest: #f8fefb;
  --color-core-lighter: #d2d8d5;
  --color-core-light: #acb2af;
  --color-core: #868c89;
  --color-core-dark: #606663;
  --color-core-darker: #393f3c;
  --color-core-darkest: #131916;

  --color-accent-lightest: #f4ffff;
  --color-accent-lighter: #ceffde;
  --color-accent-light: #a8f8b8;
  --color-accent: #82d292;
  --color-accent-dark: #5cac6c;
  --color-accent-darker: #358545;
  --color-accent-darkest: #0f5f1f;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1em;
}
