:root {
  --color-core-lightest: #fefefe;
  --color-core-lighter: #d5d5d5;
  --color-core-light: #acacac;
  --color-core: #838383;
  --color-core-dark: #5b5b5b;
  --color-core-darker: #323232;
  --color-core-darkest: #090909;

  --color-accent-lightest: #a7ffff;
  --color-accent-lighter: #74d1ff;
  --color-accent-light: #419edb;
  --color-accent: #0e6ba8;
  --color-accent-dark: #004582;
  --color-accent-darker: #001f5c;
  --color-accent-darkest: #000035;

  /* 1.333 scaling starting at 1em browser default (usually 16px) */
  --font-size-0: 0.8rem;
  --font-size-1: 1rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1.563rem;
  --font-size-4: 1.953rem;
  --font-size-5: 2.441rem;
  --font-size-6: 3.052rem;
  --font-size-7: 3.815rem;
  --font-size-8: 4.768rem;
  --font-size-9: 5.96rem;

  /* 1.333 scaling based on 24px as medium */
  --space-xs: 18px;
  --space-sm: 24px;
  --space-md: 32px;
  --space-lg: 43px;
  --space-xl: 57px;

  --display-font: Montserrat, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1.1em;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.563;
  color: var(--color-core-darkest);
}

p {
  margin: 0 0 1rem;
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 540px) {
  html {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1100px) {
  html {
    font-size: 1.3em;
  }
}
