:root {
  --color-core-lightest: #fefefe;
  --color-core-lighter: #d5d5d5;
  --color-core-light: #acacac;
  --color-core: #838383;
  --color-core-dark: #5b5b5b;
  --color-core-darker: #323232;
  --color-core-darkest: #090909;

  --color-accent-lightest: #f4ffff;
  --color-accent-lighter: #ceffde;
  --color-accent-light: #a8f8b8;
  --color-accent: #82d292;
  --color-accent-dark: #5cac6c;
  --color-accent-darker: #358545;
  --color-accent-darkest: #0f5f1f;

  /* 1.333 scaling starting at 1em browser default (usually 16px) */
  --font-size-0: 0.75rem;
  --font-size-1: 1rem;
  --font-size-2: 1.333rem;
  --font-size-3: 1.777rem;
  --font-size-4: 2.369rem;
  --font-size-5: 3.157rem;
  --font-size-6: 4.209rem;

  /* 1.333 scaling based on 24px as medium */
  --space-xs: 18px;
  --space-sm: 24px;
  --space-md: 32px;
  --space-lg: 43px;
  --space-xl: 57px;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1em;
}

* {
  box-sizing: border-box;
}
