.wrapper {
  display: block;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
  padding: 0 calc(var(--space-xs) / 2);
  color: inherit;
  line-height: 48px; /* min tap-target size */
  white-space: nowrap;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}
