.title {
  font-size: var(--font-size-4);
  line-height: 1.1;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: var(--font-size-6);
  }
}

@media screen and (min-width: 1100px) {
  .title {
    font-size: var(--font-size-8);
  }
}
