.title {
  font-size: var(--font-size-4);
  line-height: 1.1;
  padding: 0 0 var(--space-xs);
  margin: 0 0 var(--space-xs);
  position: relative;
}

.title::after {
  content: '';
  display: block;
  width: 88px;
  border-bottom: 3px solid var(--color-core-darkest);
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: var(--font-size-6);
    padding: 0 0 var(--space-sm);
    margin: 0 0 var(--space-sm);
  }

  .title::after {
    border-width: 4px;
  }
}

@media screen and (min-width: 1100px) {
  .title {
    font-size: var(--font-size-8);
    padding: 0 0 var(--space-md);
    margin: 0 0 var(--space-md);  
  }

  .title::after {
    border-width: 6px;
  }
}
