.divider {
  display: block;
  max-width: 256px;
  margin: 16px auto;
  opacity: 0.33;
}

.breaker {
  margin: 0;
  height: 0;
  width: 100%;
  border: 0;
  border-top: 1px solid transparent;
}

@media screen and (max-width: 600px) {
  .divider {
    margin: 24px auto;
  }
}
