.fontSm {
  font-size: 0.8rem;
}

.fontNorm {
  font-size: 1rem;
}

.fontMd {
  font-size: 1.25rem;
}

.fontLg {
  font-size: 1.563rem;
}

.fontXl {
  font-size: 1.953rem;
}

.displayFont {
  font-weight: 600;
}

.pad {
  padding: 24px;
}

.padX {
  padding-left: 24px;
  padding-right: 24px;
}

.padY {
  padding-top: 24px;
  padding-bottom: 24px;
}

.space {
  margin: 24px;
}

.spaceX {
  margin-left: 24px;
  margin-right: 24px;
}

.spaceY {
  margin-top: 24px;
  margin-bottom: 24px;
}

.contain,
.textify {
  margin-left: auto;
  margin-right: auto;
}

.contain {
  max-width: 1280px;
}

.textify {
  max-width: 800px;
}

.primeDarkest {
  color: #1c1b0a;
}
.primeDarker {
  color: #4f4e3d;
}
.primeDark {
  color: #828170;
}
.prime {
  color: #9b9a89;
}
.primeLight {
  color: #b5b4a3;
}
.primeLighter {
  color: #cfcebd;
}
.primeLightest {
  color: #e8e7d6;
}

@media screen and (min-width: 600px) {
  .pad {
    padding: 32px;
  }

  .padX {
    padding-left: 32px;
    padding-right: 32px;
  }

  .padY {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .space {
    margin: 32px;
  }

  .spaceX {
    margin-left: 32px;
    margin-right: 32px;
  }

  .spaceY {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
