.fontSm {
  font-size: 0.8rem;
}

.fontNorm {
  font-size: 1rem;
}

.fontMd {
  font-size: 1.25rem;
}

.fontLg {
  font-size: 1.563rem;
}

.fontXl {
  font-size: 1.953rem;
}

.displayFont {
  text-transform: uppercase;
  font-weight: 600;
}

.pad {
  padding: 24px;
}

.padX {
  padding-left: 24px;
  padding-right: 24px;
}

.padY {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (min-width: 600px) {
  .pad {
    padding: 32px;
  }

  .padX {
    padding-left: 32px;
    padding-right: 32px;
  }

  .padY {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

/* .heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
} */
