.fontSm {
  font-size: 0.8rem;
}

.fontNorm {
  font-size: 1rem;
}

.fontMd {
  font-size: 1.25rem;
}

.fontLg {
  font-size: 1.563rem;
}

.fontXl {
  font-size: 1.953rem;
}

.displayFont {
  font-weight: 600;
}

.pad {
  padding: 24px;
}

.padX {
  padding-left: 24px;
  padding-right: 24px;
}

.padY {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (min-width: 600px) {
  .pad {
    padding: 32px;
  }

  .padX {
    padding-left: 32px;
    padding-right: 32px;
  }

  .padY {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
